<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fc6ad370-d7f2-4159-af27-a3a91589a2b5/resourcegroups/Api-Ventify/providers/Microsoft.Web/sites/VentifyAPI20251209161203</ResourceId>
    <ResourceGroup>Api-Ventify</ResourceGroup>
    <ApiResourceId>/subscriptions/fc6ad370-d7f2-4159-af27-a3a91589a2b5/resourceGroups/Api-Ventify/providers/Microsoft.ApiManagement/service/Ventify/apis/VentifyAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ventifyapi20251209161203.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c1e99355-3c0d-6d2b-1a0d-5c704404a8c3</ProjectGuid>
    <MSDeployServiceURL>ventifyapi20251209161203.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>VentifyAPI20251209161203</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$VentifyAPI20251209161203</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>